@use '../utils' as *;

/*=============================
    	18. Header
===============================*/
.transparent-header {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	z-index: 9;
	height: auto;
    @media #{$xs} {
        top: 0;
    }
}
.tg-header{
    &-tu{
        &-menu{
            & .tgmenu__navbar-wrap ul li a {
                padding: 35px 10px;
            }
            & .tg-header-contact-icon {
                background: var(--tg-common-white);
                color: var(--tg-common-black);
                border: none;
            }
            & .tg-btn-header {
                background: rgba(255, 255, 255, 0.19);
                border-radius: 6px;
                border: none;
                &:hover{
                    background: var(--tg-common-white);
                    color: var(--tg-common-black);
                }
            }
        }
        &-2{
            &-wrap{
                & .tg-header-dvdr {
                    background: var(--tg-common-white);
                }
                & .tg-header-top-social{
                    display: flex;
                    align-items: center;
                    & span{
                        font-family: var(--tg-ff-outfit);
                        font-weight: 500;
                        font-size: 15px;
                        text-transform: capitalize;
                        color: var(--tg-common-white);
                        margin-right: 9px;
                    }
                    & ul{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                    }
                }
                & .tg-btn-header {
                    border-radius: 6px;
                }
                & .tgmenu__navbar-wrap ul li a {
                    font-size: 16px;
                    padding: 27px 12px;
                }
                & .tgmenu__navbar-wrap ul {
                    @media #{$xl,$lg,$md,$sm,$xs} {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    &-lg{
        &-space{
            @media #{$lg,$md,$sm,$xs} {
                padding: 14px 0px;
            }
        }
    }
    &-cart{
        & .cart-button{
            color: var(--tg-common-white);
            position: relative;
        }
        &-count{
            position: absolute;
            right: -6px;
            top: -5px;
            width: 18px;
            height: 18px;
            display: inline-block;
            font-size: 12px;
            text-transform: capitalize;
            color: var(--tg-common-white);
            background: var(--tg-theme-secondary);
            text-align: center;
            line-height: 17px;
            border-radius: 20px;
        }
        &:hover{
            & .tg-header-cart-wrap{
                top: 100%;
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
            }
        }
    }
    &-contact{
        &-icon{
            color: var(--tg-common-white);
            border: 1.20px solid var(--tg-border-2);
            border-radius: 100px;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 34px;
            display: inline-block;
            & svg{
                margin-left: 2px;
            }
        }
        &-number{
            & span{
                font-size: 12px;
                text-transform: capitalize;
                color: var(--tg-common-white);
                display: block;
                line-height: 1;
                font-weight: 500;
            }
            & a{
                text-transform: capitalize;
                color: var(--tg-common-white);
                font-weight: 600;
                &:hover{
                    color: var(--tg-border-2)
                }
            }
        }
    }
    &-border{
        position: absolute;
        top: 0;
        left: 0;
        border: 1.50px solid var(--tg-border-2);
        height: 20px;
        width: 2px;
        display: inline-block;
        
    }
    &-logo{
        @media #{$lg,$md,$sm,$xs} {
            text-align: left!important;
        }
        &-bg{
            width: 179px;
            height: 111px;
            border-radius: 27px;
            background: var(--tg-grey-5);
            position: absolute;
            top: -29px;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -1;
        }
    }
    &-4{
        &-bootom{
            border-bottom: 1px solid #e1e1e1;
        }
    }
}
.tgmenu {
    &__navbar-wrap {
        & ul {
            @include flexbox();
            padding: 0;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto;
            @media #{$xl} {
                margin: 0 auto 0 40px;
            }
            & li {
                display: block;
                position: relative;
                list-style: none;
                & a {
                    font-weight: 500;
                    font-size: 15px;
                    text-transform: capitalize;
                    color: var(--tg-common-white);
                    padding: 35px 12px;
                    @include flexbox();
                    align-items: center;
                    position: relative;
                    z-index: 1;
                    @media #{$xl} {
                        padding: 42px 18px;
                    }
                    &.active {
                        color: #b38ef7;
                    }
                }
                & .sub-menu {
                    position: absolute;
                    left: 0;
                    top: 100%;
                    min-width: 230px;
                    background: var(--tg-common-white);
                    margin: 0;
                    -webkit-transform: scale(1, 0);
                    -moz-transform: scale(1, 0);
                    -ms-transform: scale(1, 0);
                    -o-transform: scale(1, 0);
                    transform: scale(1, 0);
                    transform-origin: 0 0;
                    -webkit-transition: all 0.3s ease-out 0s;
                    -moz-transition: all 0.3s ease-out 0s;
                    -ms-transition: all 0.3s ease-out 0s;
                    -o-transition: all 0.3s ease-out 0s;
                    transition: all 0.3s ease-out 0s;
                    -webkit-box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
                    -moz-box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
                    box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
                    border-radius: 0;
                    padding: 18px 0;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 9;
                    &.sub-menu-right {
                        right: 0;
                        left: auto;
                    }
                    & .sub-menu {
                        right: auto;
                        left: 100%;
                        top: 0;
                    }
                    & li {
                        margin-left: 0;
                        text-align: left;
                        display: block;
                        & a {
                            padding: 6px 15px 6px 25px;
                            display: block;
                            color: var(--tg-common-black);
                            font-size: 15px;
                            &.active {
                                color: #b38ef7;
                            }
                        }
                        &:hover > a,
                        &.active > a {
                            color: #b38ef7;
                        }
                        &:hover > a {
                            @include transform(translateX(8px));
                        }
                    }
                }
                &:hover > .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
        }
        & > ul {
            & > li {
                &.active,
                &:hover {
                    & a {
                        color: #e2d6f8;
                    }
                }
            }
        }
        &-2{
            & ul {
                & li {
                    & a {
                        color: var(--tg-common-black);
                        padding: 37px 11px;
                    }
                    &:first-child{
                        & a{
                            padding-left: 0;
                        }
                    }
                }
            }
            & > ul {
                & > li {
                    &.active,
                    &:hover {
                        & a {
                            color: var(--tg-theme-primary);
                        }
                    }
                }
            }
        }
        &-4{
            & ul {
                & li {
                    & a {
                        color: var(--tg-common-black);
                        padding: 37px 12px;
                        font-size: 14px;
                    }
                    &:first-child{
                        & a{
                            padding-left: 0;
                        }
                    }
                }
            }
            & > ul {
                & > li {
                    &.active,
                    &:hover {
                        & a {
                            color: var(--tg-theme-primary);
                        }
                    }
                }
            }
        }
    }
    &__main-menu {
        & li.menu-item-has-children {
            & .dropdown-btn {
                display: none;
            }
            & > a {
                &::after {
                    content: "\f078";
                    display: block;
                    font-family: var(--tg-ff-fontawesome);
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: 4px;
                }
            }
        }
    }
    &__search {
        margin-inline-end: 25px;
        @media #{$lg} {
            margin-left: auto;
        }
        &-form {
            @include flexbox();
            width: 535px;
            border-radius: 100px;
            border: 1px solid #D3D2DF;
            @media #{$xxl} {
                width: 485px;
            }
            @media #{$xl} {
                width: 380px;
            }
            @media #{$lg} {
                width: 500px;
            }
            @media #{$md} {
                width: auto;
            }
            & .select-grp {
                @include flexbox();
                align-items: center;
                background: transparent;
                border: none;
                padding: 12px 0 12px 17px;
                @include border-radius(0);
                width: 153px;
                flex: 0 0 auto;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                    width: 1px;
                    height: 20px;
                    background: #BDBABB;
                    @media #{$md} {
                        display: none;
                    }
                }
                & svg {
                    width: 16px;
                    height: 16px;
                    flex: 0 0 auto;
                }
                & path {
                    fill: var(--tg-theme-primary);
                }
            }
            & .form-select {
                outline: none;
                box-shadow: none;
                border: none;
                padding-left: 8px;
                color: var(--tg-heading-color);
                font-family: var(--tg-heading-font-family);
                font-size: 14px;
            }
            & .input-grp {
                position: relative;
                flex-grow: 1;
                margin-left: -1px;
                @media #{$md} {
                    display: none;
                }
            }
            & input {
                display: block;
                width: 100%;
                background: transparent;
                border: none;
                @include border-radius(0);
                padding: 12px 50px 10px 20px;
                height: 50px;
                font-size: 15px;
                font-family: var(--tg-heading-font-family);
                &::placeholder {
                    color: #8D9DB5;
                    font-size: 14px;
                }
            }
            & [type=submit] {
                position: absolute;
                @include flexbox();
                align-items: center;
                justify-content: center;
                top: 50%;
                @include transform(translateY(-50%));
                right: 4px;
                width: 44px;
                height: 44px;
                border: none;
                padding: 0 0;
                background: var(--tg-theme-primary);
                font-size: 20px;
                color: var(--tg-color-white-default);
                @include border-radius(50%);
                &:hover {
                    background: var(--tg-theme-secondary);
                    color: var(--tg-heading-color);
                }
            }
        }
        &-bar {
            flex-grow: 1;
            @media #{$xl} {
                max-width: 240px;
            }
            @media #{$lg} {
                max-width: 100%;
            }
            @media #{$md} {
                display: none;
            }
            & form {
                position: relative;
                & input {
                    display: block;
                    width: 100%;
                    background: var(--tg-color-white-default);
                    border: 1px solid var(--tg-border-2);
                    @include border-radius(50px);
                    padding: 12px 50px 10px 20px;
                    height: 45px;
                    font-size: 15px;
                    font-family: var(--tg-heading-font-family);
                    &::placeholder {
                        color: #8D9DB5;
                        font-size: 14px;
                    }
                }
                & [type=submit] {
                    position: absolute;
                    top: 50%;
                    @include transform(translateY(-50%) rotate(-90deg));
                    right: 10px;
                    border: none;
                    padding: 0 0;
                    background: transparent;
                    font-size: 24px;
                    color: #8D9DB5;
                    &:hover {
                        color: var(--tg-theme-primary);
                    }
                }
            }
        }
    }
    &-offcanvas{
        &-open{
            &-btn{
                line-height: 0;
                & span{
                    height: 2px;
                    width: 34px;
                    background-color: var(--tg-common-white);
                    display: block;
                    border-radius: 6px;
                    &:not(:last-child){
                        margin-bottom: 6px;
                    }
                }
                &.mobile-nav-black{
                    & span{
                        background-color: var(--tg-common-black);
                    }
                }
            }
        }
    }
    &-1{
        &-space{
            @media #{$xl,$lg,$md,$sm,$xs} {
                margin-left: 0;
            }
        }
    }
}
.sticky-menu {
	position: fixed;
	left: 0;
	margin: auto;
	top: 0;
	width: 100%;
	z-index: 99;
	background: var(--tg-common-white);
	-webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
	-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
	border-radius: 0;
    & .tgmenu__navbar-wrap {
        & ul {
            & li {
                & a {
                    padding: 40px 24px;
                }
            }
        }
    }
}
.tg-header{
    &-dvdr{
        background: var(--tg-common-white);
        width: 2px;
        display: inline-block;
        height: 16px;
    }
    &-top{
        &-space{
            padding: 10px 0;
        }
        &-info{
            & a{
                color: var(--tg-common-white);
                &:hover{
                    color: #c5c5c5;
                }
            }
        }
    }
}
.tg-menu{
    &-right{
        &-action{
            &-2{
                & .tg-btn-header {
                    color: var(--tg-common-white);
                    background: var(--tg-theme-primary);
                    border-color: var(--tg-theme-primary);
                    &:hover{
                        background: var(--tg-common-black);
                        border-color: var(--tg-common-black);
                    }
                }
                & .tg-header-contact-number span {
                    color: var(--tg-grey-1);
                }
                & .tg-header-contact-number a {
                    color: var(--tg-common-black);
                }
                & .tg-header-contact-icon {
                    color: var(--tg-common-black);
                    border-color: #dadada;
                    width: 40px;
                    height: 40px;
                    line-height: 37px;
                    background: var(--tg-common-white);
                }
                & .tg-header-cart .cart-button {
                    border: 1px solid #dadada;
                    border-radius: 100px;
                    width: 40px;
                    display: inline-block;
                    height: 40px;
                    color: var(--tg-common-black);
                    text-align: center;
                    background: var(--tg-common-white);
                    line-height: 36px;
                }
            }
            &-3{
                & .tg-header-cart .cart-button {
                    border-radius: 100px;
                    width: 40px;
                    display: inline-block;
                    height: 40px;
                    color: var(--tg-common-white);
                    text-align: center;
                    background: #560CE3;
                    line-height: 36px;
                    margin-left: 7px;
                }
                & .search-button{
                    border-radius: 100px;
                    width: 40px;
                    display: inline-block;
                    height: 40px;
                    color: var(--tg-common-white);
                    text-align: center;
                    background: #560CE3;
                    line-height: 36px;
                    margin-left: 26px;  
                }
            }
        }
    }
    &-3{
        &-wrap{
            & .tgmenu__navbar-wrap{
                & ul {
                    li {
                        a {
                            padding: 47px 12px;
                        }
                    }
                }
                & > ul {
                    & > li {
                        &.active,
                        &:hover {
                            & > a {
                                color: #b5b5b5;
                            }
                        }
                    }
                }
            }
        }
    }
    &-4{
        &-right{
            &-action{
                & .search-button {
                    border: 1px solid #dadada;
                    color: var(--tg-common-black);
                    background: var(--tg-common-white);
                }
                & .tg-header-cart .cart-button {
                    border: 1px solid #dadada;
                    color: var(--tg-common-black);
                    background: var(--tg-common-white);
                }
                & .tgmenu-offcanvas-open-btn span {
                    background-color: var(--tg-common-black);
                }
            }
        }
    }
}

.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    z-index: 999;
    visibility: visible;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 1px 3px 0px rgba(18, 20, 32, 0.14);
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    -webkit-animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    backdrop-filter: blur(10px);
    & .tgmenu__main-menu ul > li > a {
        padding: 21px 12px;
        color: var(--tg-common-black);
    }
    & .tg-header-contact-number a {
        color: var(--tg-common-black);
    }
    & .tg-header-contact-icon {
        color: var(--tg-common-black);
        border: 1.2px solid #dadada;
        
    }
    & .tg-header-contact-number span {
        color: var(--tg-grey-1);
    }
    & .tg-header-cart .cart-button {
        color: var(--tg-common-black);
    }
    & .tg-btn-header {
        color: var(--tg-common-white);
        border: 1px solid var(--tg-theme-primary);
        background: var(--tg-theme-primary);
        &:hover{
            color: var(--tg-theme-primary);
            background: transparent;
        }
    }
    & .tgmenu-offcanvas-open-btn span {
        background-color: var(--tg-common-black);
    }
    & .logo-1{
        display: none;
    }
    & .logo-2{
        display: block!important;
    }
    & .tg-header-logo-bg {
        display: none!important;
    }
    & .tgmenu__navbar-wrap-2 ul li > a {
        padding: 21px 11px;
    }
    & .tgmenu__navbar-wrap{
        & > ul {
            & > li {
                &.active,
                &:hover {
                    & > a {
                        color: var(--tg-theme-primary);
                    }
                }
            }
        }
    }
    & .tg-menu-3-wrap{
        & .tgmenu__navbar-wrap{
            & > ul {
                & > li {
                    &.active,
                    &:hover {
                        & > a {
                            color: var(--tg-theme-primary);
                        }
                    }
                }
            }
        }
    }
    & .tg-menu-right-action-3 .tg-header-cart .cart-button {
        color: var(--tg-common-white);
    }
    & .tg-menu-4-right-action .tg-header-cart .cart-button {
        color: var(--tg-common-black);
    }
}
